<div id="simulation-section" class="row">
  <div class="col-12 mt-5 title">
    <h3 class="fs-m fw-m text-center">Recevez une copie de votre simulation par mail</h3>
  </div>

  <div class="col-12 mb-3">
    <div class="row">
      <div class="col-4">

      </div>
      <div class="col-4 mt-5 simulation-form">
        <div class="row">
          <div class="col-12 form">
            <input class="form-control" type="email" placeholder="Votre email" [(ngModel)]="simulationEmail">
            <button class="btn" (click)="submitSimulation()"
                    [disabled]="simulationEmail.length === 0 || !validateEmail(simulationEmail)">Envoyer
            </button>
          </div>

        </div>

        <div class="row p-3 text-center">
          <div class="col-12 alert-danger p-1"
               [class.alert-danger]="error.code === 0"
               [class.alert-success]="error.code === 1"
               [class.alert-info]="error.code === 2">
            {{error.msg}}
          </div>
        </div>

      </div>
      <div class="col">

      </div>
    </div>


  </div>


</div>
