$font-stack: avenir,
sans-serif;
$default-font-size: 15px;
$primary-color: #fff;
$secondary-color: #000;
$bg-white-blue: #f0f0f0;
$bg-white-grey: #f0f0f0;
$bg-blue: #1b5cc4;
$bg-white: #fff;
$bg-rose: #eb308b;
$bg-red-blue: #efebec;
$bg-grey: #bfbfbf;

@mixin default-link() {
  font-weight: 600;
  padding: 5px;
  border-bottom: 1px solid black;
  text-decoration: none;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FONT FACES */
@font-face {
  font-family: 'avenir';
  src: local('AvenirLTStd-Book.otf'), url('assets/fonts/AvenirLTStd-Book.otf') format('opentype');
}

a.recap {
  @include default-link();
}

.fs-xs {
  font-size: 0.8em;
}

.fs-s {
  font-size: 1em;
}

.fs-m {
  font-size: 1.5em;
}

.fs-l {
  font-size: 2em;
}

.fs-xl {
  font-size: 2.5em;
}

.fw-s {
  font-weight: 600;
}

.fw-m {
  font-weight: 800;
}

.fw-l {
  font-weight: bold;
}

.pl-6, .px-6 {
  padding-left: 5rem !important;
}

.bg-blue {
  background-color: $bg-blue;
}

.bg-red-blue {
  background-color: $bg-red-blue;
}

.bg-black {
  background-color: $secondary-color;
}

.pointer {
  cursor: pointer;
}

.flex-center {
  @include flex-center();
}

.flex-center-vertical {
  display: flex;
  align-items: center;
}

.flex-center-horizontal {
  display: flex;
  justify-content: center;
}


* {
  //border: 1px solid black;;
}

body {
  font-family: 'avenir', monospace;
  font-size: $default-font-size;
  background-color: $primary-color;
  color: $primary-color;
}

a {
  text-decoration: none;
  color: $secondary-color;
}
