#recap-section {
  background-color: $bg-blue;
  padding-bottom: 2em;

  .description {
    p {
      margin: auto;
      padding: 2em;
      width: 40%;
    }
  }

  .assurance-list {
    margin: auto;
    width: 35%;
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 5px;

    ul {
      list-style: none;
      padding: 3em;

      li {
        display: flex;
        border: solid 1px #bfbfbf;
        border-radius: 2px;

        .title {
          margin: auto;
        }

        .actions {
          @include flex-center();

          .rating {
            //margin-top: auto;
          }
        }

        .close-button {
          position: absolute;
          right: 5px;
          //margin-top: auto;
        }
      }
    }
  }
}

#adviser-section {
  background-color: $bg-rose;
  padding-bottom: 2em;

  .recap-button {
    button {
      padding: 1em 4em;
      color: $bg-rose;
      //border-radius: 0;
    }

  }
}

#simulation-section {
  padding-bottom: 2em;

  .title {
    color: $secondary-color;
  }

  .simulation-form {
    //display: flex;
    padding: 0 7em;

    .form {
      display: flex;
    }

    input {
      border-radius: 0;
      border-right: none;
    }

    button {
      color: $primary-color;
      background: $bg-blue;
      border-radius: 0;
      padding: 0 1em;
    }
  }
}

#footer-section {
  background-color: #292929;
  padding: 3em;
}
