<div id="footer-section" class="row">
  <div class="col-12 flex-center">
    <span class="footer-item mr-4">
      CGV
    </span>

    <span class="footer-item mr-4">
      Mentions legales
    </span>

    <span class="footer-item mr-4">
      Lien
    </span>

    <span class="footer-item mr-4">
      A propos
    </span>

    <span class="footer-item mr-4">
      Lien
    </span>
  </div>
</div>
