<div id="recap-section" class="row">
  <div class="col-12 mt-5">
    <h2 class="fs-l fw-l text-center">Votre bilan assurance</h2>
  </div>

  <div class="col-12 text-center description">
    <p class="fs-s">Vous trouvez ci-dessous un récapitulatif de votre bilan. Pour savoir sur quels critères notre évaluation, s'est portée, cliquez sur une des garanties.</p>
  </div>

  <div class="col-12">
    <div class="assurance-list">
      <ul *ngIf="images.length > 0">
        <li class="row mb-3 p-3" *ngFor="let image of images">
          <div class="col-7 title fw-l">
            {{image.title}}
          </div>

          <div class="col-5 actions">
            <div class="rating">
              <img *ngFor="let element of [].constructor(activeStarsNumber(image.id))" class="mr-1"
                   src="assets/img/Green_star.svg" height="15">

              <img *ngFor="let element of [].constructor(disabledStarsNumber(image.id))" class="mr-1"
                   src="assets/img/Grey_Star.svg" height="15">
            </div>

            <div class="close-button" (click)="removeImage(image.id)">
              <img src="assets/img/close.svg" height="25">
            </div>
          </div>

        </li>
      </ul>
      <div *ngIf="images.length === 0" class="p-5">
        <h2 class="fs-l fw-l text-center">Pas de données</h2>
      </div>
    </div>
  </div>


</div>
